<section class="about__section">
    <div class="about__container">
    <h1 class="about__header">
        About Us
    </h1>

    <div class="about__container--sub">
    <p class="about__paragraph">
        Al-Funoon, The Arts, is a product of years of novice artwork and baking. While it was diffiuclt in the start, I was able to acquire skills that helped my creativity grow. I aspire to become a better artist and baker, and to share this passion with others by bringing joy to their homes.
    </p>
    <img src="../../../assets/images/caligraphy.jpeg" alt="Caligraphy image" class="about__image">
    </div>
    </div>
</section>
