<footer class="footer">
    <ul class="footer__container">
        <li class="footer__container--item">
            <a routerLink="contact" class="foooter__container--link">
            <img src="../../../assets/svgs/mail.svg" alt="" class="footer__container--icon">
        </a></li>
        <li class="footer__container--item">
            <a href="" class="foooter__container--link">
                <img src="../../../assets/svgs/instagram.svg" alt="" class="footer__container--icon">
            </a></li>
        <li class="footer__container--item">
            <a href="" class="foooter__container--link">
                <img src="assets/svgs/whatsapp.svg" alt="" class="footer__container--icon--whatsapp">
            </a></li>
    </ul>
</footer>